@import url('./primevue.css');
@import url('./palette.css');
@import url('./shadcn.css');

html {
  scroll-behavior: smooth;
  --at-apply: 'bg-emerald-50 text-surface-600 transition-background-color';
}

html.dark {
  --at-apply: 'bg-gray-700 text-surface-200';
}

.custom-dashed {
  /* dashed border */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
