:root {
  --violet-1: 264 65% 95%;
  --violet-2: 263 67% 89%;
  --violet-3: 264 67% 81%;
  --violet-4: 264 66% 72%;
  --violet-5: 263 66% 64%;
  --violet-6: 264 66% 56%;
  --violet-7: 264 53% 47%;
  --violet-8: 263 52% 40%;
  --violet-9: 264 53% 32%;
  --violet-10: 264 53% 25%;

  --purple-1: 274 84% 95%;
  --purple-2: 273 83% 88%;
  --purple-3: 273 83% 79%;
  --purple-4: 273 83% 70%;
  --purple-5: 273 83% 60%;
  --purple-6: 273 83% 52%;
  --purple-7: 273 78% 44%;
  --purple-8: 273 78% 37%;
  --purple-9: 273 77% 29%;
  --purple-10: 273 78% 23%;

  --gray-1: 0 0% 96%;
  --gray-2: 0 0% 89%;
  --gray-3: 0 0% 81%;
  --gray-4: 0 0% 72%;
  --gray-5: 0 0% 64%;
  --gray-6: 0 0% 56%;
  --gray-7: 0 0% 48%;
  --gray-8: 0 0% 40%;
  --gray-9: 0 0% 32%;
  --gray-10: 0 0% 25%;

  --green-1: 154 62% 95%;
  --green-2: 157 60% 87%;
  --green-3: 157 59% 77%;
  --green-4: 157 59% 67%;
  --green-5: 157 59% 57%;
  --green-6: 157 67% 47%;
  --green-7: 157 67% 40%;
  --green-8: 157 67% 33%;
  --green-9: 157 66% 27%;
  --green-10: 158 67% 21%;

  --red-1: 0 52% 94%;
  --red-2: 0 54% 86%;
  --red-3: 0 54% 76%;
  --red-4: 0 53% 65%;
  --red-5: 0 54% 54%;
  --red-6: 0 68% 44%;
  --red-7: 0 68% 38%;
  --red-8: 0 68% 31%;
  --red-9: 0 67% 25%;
  --red-10: 0 68% 20%;

  --warning-1: 48 83% 95%;
  --warning-2: 47 83% 88%;
  --warning-3: 47 83% 79%;
  --warning-4: 47 83% 70%;
  --warning-5: 47 83% 61%;
  --warning-6: 47 83% 52%;
  --warning-7: 47 77% 44%;
  --warning-8: 47 77% 37%;
  --warning-9: 47 76% 30%;
  --warning-10: 47 76% 23%;

  --primary-1: var(--violet-1);
  --primary-2: var(--violet-2);
  --primary-3: var(--violet-3);
  --primary-4: var(--violet-4);
  --primary-5: var(--violet-5);
  --primary-6: var(--violet-6);
  --primary-7: var(--violet-7);
  --primary-8: var(--violet-8);
  --primary-9: var(--violet-9);
  --primary-10: var(--violet-10);
}

/* Overrides primary/primevue's palette with our palette :) */
:root {
  --primary-100: var(--primary-1);
  --primary-200: var(--primary-2);
  --primary-300: var(--primary-3);
  --primary-400: var(--primary-4);
  --primary-500: var(--primary-5);
  --primary-600: var(--primary-6);
  --primary-700: var(--primary-7);
  --primary-800: var(--primary-8);
  --primary-900: var(--primary-9);
  --primary-950: var(--primary-10);
}

:root {
  --primary-bg: var(--primary-1);
  --primary-bg-i: var(--primary-10);
  --mono: 0 0% 0%;
  --mono-i: 0 0% 100%;
  --mono-bg: 0 0% 100%;
}
.dark {
  --primary-bg: var(--primary-10);
  --primary-bg-i: var(--primary-1);
  --mono: 0 0% 100%;
  --mono-i: 0 0% 0%;
  --mono-bg: var(--gray-8);
}
