@import url('./primevue.css');
@import url('./palette.css');
@import url('./shadcn.css');

html {
  scroll-behavior: smooth;
  --at-apply: 'bg-emerald-50 text-surface-600 transition-background-color';
}

html.dark {
  --at-apply: 'bg-gray-700 text-surface-200';
}
